 .quick-toggle:checked {
     transition-duration: 150ms;
     background-color: #1d4973;
}
 .quick-toggle:checked:focus {
     box-shadow: inset 0 0 0 2px rgba(23, 29, 32, 0.5);
}
 .quick-toggle:checked:hover, .quick-toggle:checked:focus {
     background-color: #3578b8;
}
 .quick-toggle:checked:active {
     background-color: #8dd4f8;
}
 .quick-toggle:checked:insensitive {
     transition-duration: 150ms;
     color: rgba(189, 230, 251, 0.5);
     background-color: transparent;
     box-shadow: none;
     background-gradient-direction: none;
     box-shadow: none;
}
 .quick-toggle, .quick-menu-toggle {
     border-radius: 5px;
}
 .quick-menu-toggle .quick-toggle-arrow:ltr {
     border-radius: 0 5px 5px 0;
}
 .quick-menu-toggle .quick-toggle:ltr {
     border-radius: 5px 0 0 5px;
}
 .quick-settings {
     border-radius: 10px;
}
 .slider {
    -barlevel-active-background-color: #1d4973;
}
 .calendar .calendar-today {
     background-color: #1d4973;
}
 .calendar .calendar-today:hover, .calendar .calendar-today:focus {
     background-color: #3578b8;
}
 .calendar .calendar-today:active, .calendar .calendar-today:selected {
     background-color: #1d4973;
}
 .calendar .calendar-today:active:hover, .calendar .calendar-today:active:focus, .calendar .calendar-today:selected:hover, .calendar .calendar-today:selected:focus {
     background-color: #3578b8;
}
 .modal-dialog-linked-button:last-child {
     background-color: #1d4973;
     background-gradient-direction: horizontal;
     background-gradient-start: #19446e;
     background-gradient-end: #2b72b5;
}
 .modal-dialog-linked-button:last-child:hover {
     background-color: #3578b8;
}
 .modal-dialog-linked-button:last-child:active {
     background-color: #1d4973;
}
 .modal-dialog-linked-button:last-child:insensitive {
     color: #8495a7;
     background-color: transparent;
     background-gradient-direction: none;
}
 .end-session-dialog .modal-dialog-linked-button:first-child, .end-session-dialog .modal-dialog-linked-button:first-child:hover, .end-session-dialog .modal-dialog-linked-button:first-child:active{
     box-shadow:none !important;
}
 .end-session-dialog .modal-dialog-linked-button:last-child, .end-session-dialog .modal-dialog-linked-button:last-child:hover, .end-session-dialog .modal-dialog-linked-button:last-child:active{
     box-shadow:none !important;
     background:#ff0000;
}
 .end-session-dialog .end-session-dialog-battery-warning, .end-session-dialog .dialog-list-title {
     color: #fa4444;
}
 .end-session-dialog .modal-dialog-linked-button:last-child {
     color: white;
     background-color: #fa4444;
     background-gradient-direction: horizontal;
     background-gradient-start: #ff2626;
     background-gradient-end: #ff5966;
     font-weight: bold;
}
 .end-session-dialog .modal-dialog-linked-button:last-child:hover {
     background-color: #ff5966;
     background-gradient-direction: none;
}
 .end-session-dialog .modal-dialog-linked-button:last-child:active {
     background-color: #f91212;
     background-gradient-direction: none;
}
 .end-session-dialog .modal-dialog-linked-button:last-child:insensitive {
     color: #8495a7;
     background-color: transparent;
     background-gradient-direction: none;
}
 
