button{
       border-radius: 5px;
}
leaflet > box > scrolledwindow > viewport{
  background-color: #ebebeb; 
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;

}

.tweak-titlebar-left{
  background-color: #ebebeb; 
}



leaflet > headerbar button{
    background-color: #ebebeb; 
}
leaflet > box > searchbar > revealer > box{
      background-color: #ebebeb; 
}



/*Minimize*/
 button.minimize {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-minimize.svg");
     background-size: 16px 16px;
}
 button.minimize:hover {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-minimize-hover.svg");
     background-size: 16px 16px;
}
 button.minimize:active {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-minimize-hover.svg");
     background-size: 16px 16px;
}
/*Maximize*/
 button.maximize {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-maximize.svg");
     background-size: 16px 16px;
}
 button.maximize:hover {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-unmaximize-active.svg");
     background-size: 16px 16px;
}
 button.maximize:active {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-unmaximize-active.svg");
     background-size: 16px 16px;
}
/*close*/
 button.close {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin-right: 1px;
     margin-left: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-close.svg");
     background-size: 16px 16px;
}
 button.close:hover {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin-right: 1px;
     margin-left: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-close-active.svg");
     background-size: 16px 16px;
}
 button.close:active {
     all: unset;
     border-radius: 50%;
     min-width: 28px;
     min-height: 28px;
     margin-right: 1px;
     margin-left: -5px;
     color: transparent;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url("/home/jibran/.config/gtk-4.0/assets/titlebutton-close-active.svg");
     background-size: 16px 16px;
}
